@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-primary: #00f2ff;
  --color-secondary: #7000ff;
  --color-accent: #00ff9d;
  --color-surface-50: #121212;
  --color-surface-100: #1e1e1e;
  --color-surface-200: #2d2d2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-surface-50: var(--color-surface-50);
  --color-surface-100: var(--color-surface-100);
  --color-surface-200: var(--color-surface-200);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility bg-grid-pattern {
  background-image: linear-gradient(to right, #2d2d2d 1px, transparent 1px), linear-gradient(to bottom, #2d2d2d 1px, transparent 1px);
  background-size: 40px 40px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
